MONGODB_URI=mongodb://mongo:27017
MONGODB_DATABASE=senselife_data
INTERNAL_TOKEN=tu_token_secreto_aqui
SENSELIFE_SYSTEM_URL=http://host.docker.internal
ALERT_DEDUP_SECONDS=300
FC_CRITICO_ALTO=180
FC_ALERTA_ALTO=160
FC_ALERTA_BAJO=100
FC_CRITICO_BAJO=80
FR_CRITICO_ALTO=70
FR_ALERTA_ALTO=60
FR_ALERTA_BAJO=25
FR_CRITICO_BAJO=20
SIMULADOR_INTERVALO_SEG=2
DISPOSITIVOS_FILE=data/dispositivos.json
SIMULADOR_ESTADO_FILE=data/simulador_estado.json
